In [3]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [4]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [7]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [8]:
high_school_types.items()

AttributeError: 'list' object has no attribute 'items'

In [9]:
high_school_types

[{'High School': 'Griffin', 'Type': 'District'},
 {'High School': 'Figueroa', 'Type': 'District'},
 {'High School': 'Wilson', 'Type': 'Charter'},
 {'High School': 'Wright', 'Type': 'Charter'}]

In [10]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [11]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [12]:
import pandas as pd.

SyntaxError: invalid syntax (1475776695.py, line 1)

In [13]:
school_series = pd.Series(high_schools)

NameError: name 'pd' is not defined

In [14]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [15]:
pip install pandas

Collecting pandas
  Downloading pandas-1.3.4-cp37-cp37m-macosx_10_9_x86_64.whl (11.3 MB)
     |████████████████████████████████| 11.3 MB 4.7 MB/s eta 0:00:01
Collecting numpy>=1.17.3
  Downloading numpy-1.21.3-cp37-cp37m-macosx_10_9_x86_64.whl (16.9 MB)
     |████████████████████████████████| 16.9 MB 40.1 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/johngarbett/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from pandas) (2.8.2)
Collecting pytz>=2017.3
  Downloading pytz-2021.3-py2.py3-none-any.whl (503 kB)
     |████████████████████████████████| 503 kB 40.5 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /Users/johngarbett/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.21.3 pandas-1.3.4 pytz-2021.3
Note: you may need to restart the kernel to use updated packages.

In [16]:
import pandas as pd

In [17]:
school_series = pd.Series(high_schools)

In [18]:
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [19]:
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [20]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [21]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [31]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

NameError: name 'school_id' is not defined

In [23]:
# Create a dictionary of information on high schools.
high_schools_dict = {"School ID": school_id, "school_name":school_name, "type":type_of_school}

NameError: name 'school_id' is not defined

In [26]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [27]:
high_schools_dict = {"School ID": school_id, "school_name":school_name, "type":type_of_school}

NameError: name 'school_id' is not defined

In [28]:
high_school_dict

NameError: name 'high_school_dict' is not defined

In [29]:
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [30]:
high_school_df

NameError: name 'high_school_df' is not defined

In [32]:
# Create a dictionary of information on high schools.
high_schools_df = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

NameError: name 'school_id' is not defined

In [33]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [34]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)